<% layout('/layouts/boilerplate') %>

<div class="row mt-3 mb-3">
  <div class="col-8 offset-2">
    <h3>edit your listing</h3>
    <form method="POST" action="/listings/<%= listings._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" name="listings[title]" class="form-control" value="<%= listings.title %>" required>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="listings[description]" class="form-control" required ><%= listings.description %></textarea>
      </div>
      <div class="mb-3 offset-3">
        <p>original Listing image</p>
        <img class="edit-img" src="<%= listings.image.url %>">
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Image</label>
        <input type="file" name="listings[image]" class="form-control">
      </div>
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input type="number" name="listings[price]" class="form-control" value="<%= listings.price %>" required>
        </div>
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input type="text" name="listings[country]" class="form-control" value="<%= listings.country %>" required>
        </div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input type="text" name="listings[location]" class="form-control" value="<%= listings.location %>" required>
      </div>
      <button class="btn btn-dark edit-btn mt-3">edit</button>
    </form>
  </div>
</div>
<script src="/js/script.js"></script>